.container {
  margin: 20px 100px;
}

.title {
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upload {
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}